{% include "header.html" %}
<!--Inhalt der Seite-->
<div class="row">
    <div class="col">
        <form action="{{url_for('import_anzeigen')}}" method="post" enctype="multipart/form-data">
            <h2>Text für die Analyse hochladen</h2>
            <p>Bitte eine CSV-Datei im folgenden Format hochladen:</p>
            <div class="container">
                <div class = "row">
                    <div class="col-8">
            <table class="table table">
                  <thead>
                    <tr>
                      <th scope="col">Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>"Lorem ipsum dolor sit amet,"</td>
                    </tr>
                    <tr>
                      <td>"consectetur adipisici elit, sed eiusmod tempor incidunt"</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="upload_datei">Upload</label>
                <input type="file" name="upload_datei" id="upload_datei" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Hochladen</button>
        </form>
    </div>
</div>
{% include "footer.html" %}
