{% include "header.html" %}
<!--Inhalt der Seite-->
<div class="row">
    <div class="col">
        <form action="{{url_for('textanalyse')}}" method="post" enctype="multipart/form-data">
            <h2>Visualisierung</h2>
            <div class="container">
                <div class="row">
                    {{ fig_html | safe}}
                </div>
                <div class="row">
                    <div class="col">
                            <a href="{{ png_datei }}" class="btn btn-primary" download><i class="fas fa-download"></i> Grafik als PNG speichern</a>
                            <a href="{{url_for('home')}}" class="btn btn-primary"><i class="fas fa-file"></i> Neue Datei analysieren</a>
                    </div>
                </div>
            </div>
            </form>
    </div>
</div>
{% include "footer.html" %}
