{% include "header.html" %}
<!--Inhalt der Seite-->
<div class="row">
    <div class="col">
        <form action="{{url_for('export')}}" method="post" enctype="multipart/form-data">
            <h2>Visualisierung</h2>
            <div class="container">
                <div class="row">
                    {{ fig_html | safe}}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <a href="{{ png_datei }}" class="btn btn-primary" download> Grafik als PNG speichern</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include "footer.html" %}

